
body, html {
    height: 100%;
    margin: 0;
}


/*nav bar*/
.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 1000; 
}

.navbar .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.navbar:hover {
    background-color:  #40431e !important; 
    transition: background-color 0.3s ease; 
}





/*background*/
.background-container {
    background: url('../images2/mtbg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

.text-overlay h1 {
    font-size: 50px; 
    text-shadow: 2px 2px 4px rgb(44, 43, 43);
}

/* Responsive */
@media (max-width: 768px) {
    .text-overlay h1 {
        font-size: 40px;
    }
 
}

@media (max-width: 576px) {
    .text-overlay h1 {
        font-size: 30px;
    }

}

/*green bar*/
.mt-location-widget {
    background-color: #40431e; 
    padding: 20px 0; 
    width: 100%; 
}

.col-md-5.form-group {
    padding: 15px;  
}

@media (max-width: 768px) {
    .mt-location-widget {
        padding: 10px 0; 
    }
}


/*mt h*/
.mt-guide .inner-border {
    border-bottom: 1px solid #0e0b0b; 
    padding-bottom: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
}

.mt-guide h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 50px;
    margin-top: 40px;
}

.mt-guide p {
    font-family: 'Prata', serif;
    font-size: 20px;
}

/*mt list*/
.mt-display-module-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    margin-bottom: 60px;
}

.trail-card {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.trail-card img {
    width: 300px;
    height: auto;
    margin-right: 15px;
    max-height: 300px;
}

.trail-card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h3 {
    font-size: 1.5em; /* Change the font family if needed */
}

.info p {
    font-size: 1em; 
    font-family: 'Prata', serif;  
}






/*footer*/
#footer {
    /* background: url('../images2/jaggedmt.png') no-repeat center center; */
    background: url('../images2/jaggedmt-body.png');
    background-size: cover;
    padding: 40px 90px; 
    font-family: 'Philosopher', sans-serif;
    color: whitesmoke;
    min-height: 100px;
    
}

.footer-spacing {
    height: 80px;
}

.footer-mountains {
    height: 74px;
    background: url('../images2/jaggedmt-top.png');
   
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
   
}

.left-side {
    grid-column: 1 / 3; 
    display: flex;
    
}

.logo-address,
.footer-links {
    flex: 1;
}

.logo-address p {
    margin-bottom: 1px; 
    
   
}


.logo-address img {
    max-width: 100px;
    height: auto;
    padding-top: 20px;
}

.column.social-icons a img {
    width: 24px; 
    height: auto; 
    padding-top: 20px;
    
}


.footer-links ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    
}

.footer-links ul li {
    margin-bottom: 20px; 
    

}

.footer-links ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.right-side {
    grid-column: 3; 
    min-width: 300px; 
    
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    
}

.newsletter-form button {
    background: black;
    color: white;
    font-family: 'Prata', serif;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 2px;
    
}

.footer-bottom p {
    margin-bottom: 0; 
}


/* Responsive Styles */

@media screen and (max-width: 800px) {
    #footer {
        padding: 20px; 
        font-size: 0.9em; 
        min-height: 200px; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .left-side, .right-side {
        grid-column: auto; 
        flex-direction: column; 
        padding-top: 0; 
        font-size: 0.8em; 
        
    }

    .right-side h2 {
        font-size: 0.8em; /
        
    }

    .logo-address img {
        max-width: 80px; 
    }

    .footer-links {
        margin-bottom: 0; 
    }

    .footer-links ul li {
        margin-bottom: 1px; 
    }

    .column.social-icons a img {
        width: 14px; 
    }

    .newsletter-form input[type="text"],
    .newsletter-form input[type="email"],
    .newsletter-form button {
        width: 100%; }
}
