.search-form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchResults {
    margin-top: 20px;
}

body, html {
    height: 100%;
    margin: 0;
}


/*nav bar*/
.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 1000; 
}

.navbar .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.navbar:hover {
    background-color:  #40431e !important; 
    transition: background-color 0.3s ease; 
}



/*bsckground*/
.background-image-section {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-bar {
    background-color: #000; 
}

.park-location-title {
    margin-bottom: 20px;
    font-size: 1.5em;
}


@media (max-width: 768px) {
    .park-location-title {
        font-size: 1.2em;
    }
}




















/*footer*/
#footer {
    background: url('../images2/jaggedmt.png') no-repeat center center;
    background-size: cover;
    padding: 40px 90px; 
    font-family: 'Philosopher', sans-serif;
    color: whitesmoke;
    min-height: 100px
    
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
}

.left-side {
    grid-column: 1 / 3; 
    display: flex;
    
}

.logo-address,
.footer-links {
    flex: 1;
}

.logo-address p {
    margin-bottom: 1px; 
    
   
}


.logo-address img {
    max-width: 100px;
    height: auto;
    padding-top: 20px;
}

.column.social-icons a img {
    width: 24px; 
    height: auto; 
    padding-top: 20px;
    
}


.footer-links ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    
}

.footer-links ul li {
    margin-bottom: 20px; 
    

}

.footer-links ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.right-side {
    grid-column: 3; 
    min-width: 300px; 
    
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    
}

.newsletter-form button {
    background: black;
    color: white;
    font-family: 'Prata', serif;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 2px;
    
}

.footer-bottom p {
    margin-bottom: 0; 
}


/* Responsive Styles */

@media screen and (max-width: 800px) {
    #footer {
        padding: 20px; /* Reduced padding */
        font-size: 0.9em; /* Adjust font size */
        min-height: 200px; /* Increase if necessary to fit content */
    }

    .grid-container {
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .left-side, .right-side {
        grid-column: auto; 
        flex-direction: column; 
        padding-top: 0; 
        font-size: 0.8em; 
        
    }

    .right-side h2 {
        font-size: 0.8em; /
        
    }

    .logo-address img {
        max-width: 80px; 
    }

    .footer-links {
        margin-bottom: 0; 
    }

    .footer-links ul li {
        margin-bottom: 1px; 
    }

    .column.social-icons a img {
        width: 14px; 
    }

    .newsletter-form input[type="text"],
    .newsletter-form input[type="email"],
    .newsletter-form button {
        width: 100%; }
}
