body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 1000; 
}

.navbar .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.navbar:hover {
    background-color: lightgray !important; 
    transition: background-color 0.3s ease; 
}




.background-container {
    background: url('../images2/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/*Adventure starts here & Welcome to Earth*/
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

.text-overlay h1 {
    font-size: 50px; 
    

}

.text-overlay p {
    font-size: 30px; 
}


.text-overlay h1, .text-overlay p {
    text-shadow: 
        -1px -1px 0 #888,
         1px -1px 0 #888, 
        -1px  1px 0 #888, 
         1px  1px 0 #888; 
}



/*why wildscape*/
.why-wildscape-section {
    text-align: center;
    padding: 40px 20px; /
   
}

.why-wildscape-section h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 36px; 
    color: #333; 
    margin-bottom: 20px;
}

.why-wildscape-section p {
    font-family: 'Prata', serif;
    font-size: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .why-wildscape-section h2 {
        font-size: 30px;
    }

    .why-wildscape-section p {
        font-size: 18px;

    }
}




/*cards*/
.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}


.ns-block .intro h3 {
    font-family: 'Prata', serif;
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 24px; 
}

.ns-block .intro h3 span.border-t {
    border-top: 1px solid; 
    flex-grow: 1;
    height: 0;
    min-width: 55px;
}

.ns-block .intro h3 span.font-bold {
    font-weight: bold;
}



.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(33.333% - 20px);
    margin: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.card .image {
    width: 100%;
    height: auto;
    display: block;
}

.text {
    text-align: center;
    padding: 15px;
    box-sizing: border-box; 
}

.card .text h4,
.card .text h5,
.card .text h6 {
    font-family: 'Prata', serif;
}

.card .text p {
    font-family: 'Philosopher', sans-serif;
    font-size: 16px; 
    color: #333;
}



/*.text p {
    margin-top: 0;
}*/

@media (max-width: 768px) {
    .card-wrapper {
        flex-direction: column;
    }
    .card {
        flex-basis: 100%;
    }
}





/* Style for the Partners Section */

.partners-section {
    margin-top: 80px; 
    text-align: center;
    padding: 20px;
    background-color: white;

}


.partners-section h3 {
    display: flex; 
    align-items: center;
    justify-content: center; 
    gap: 24px; 
    margin-bottom: 20px; 
    
}

.partners-section h3 span.border-t {
    border-top: 1px solid; 
    flex-grow: 1;
    height: 0;
    min-width: 55px;
   
}

.partners-section h3 span.font-bold {
    font-weight: bold; 
    font-family: 'Philosopher', sans-serif;
    
}


.partners-section h3 span.text-utility-sm {
    font-size: 35px; 
    
}


.partner-logos {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.partner-logos img {
    max-width: 200px; 
    margin: 20px;
    height: 100px; 
}


.section p {
    font-size: 26px; 
    color: #333; 
    max-width: 800px; 
    margin: 50px auto; 
    margin-bottom: 200px;
    font-family: 'Prata', serif;
}




@media screen and (max-width: 600px) {
    .partner-logos img {
        max-width: 70px;
    }

}






/*footer*/

#footer {
    background: url('../images2/mtfooter3.png') no-repeat center center;
    background-size: cover;
    padding: 40px 20px; 
    font-family: 'Philosopher', sans-serif;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

.left-side {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    column-gap: 10px;
}

.column {
    margin-right: 0;
    margin-left: 0;
}

.logo-address img {
    max-width: 20%;
    height: auto;
}




.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #000;
}



.right-side {
   
    min-width: 300px; 
}

.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

.newsletter-form button {
    background: black;
    color: white;
    font-family: 'Prata', serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

@media screen and (max-width: 800px) {
    .left-side {
        flex-direction: column;
    }
}
