body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: transparent !important;
    position: absolute;
    width: 100%;
    z-index: 1000; 
}

.navbar .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
}

.background-container {
    background: url('../images2/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
}

.text-overlay h1 {
    font-size: 50px; 
    

}

.text-overlay p {
    font-size: 30px; 
}


.text-overlay h1, .text-overlay p {
    text-shadow: 
        -1px -1px 0 #888,
         1px -1px 0 #888, 
        -1px  1px 0 #888, 
         1px  1px 0 #888; 
}


.why-wildscape-section {
    text-align: center;
    padding: 40px 20px; /
   
}

.why-wildscape-section h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 36px; 
    color: #333; 
    margin-bottom: 20px;
}

.why-wildscape-section p {
    font-family: 'Prata', serif;
    font-size: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .why-wildscape-section h2 {
        font-size: 30px;
    }

    .why-wildscape-section p {
        font-size: 18px;

    }
}




.container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: 33.333%;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .image {
    width: 100%;
    height: auto;
    display: block;
}

.text {
    text-align: center;
    padding: 15px;
}

.ns-block .intro h3 {
    font-family: 'Prata', serif;
    
}

.card .text h4,
.card .text h5,
.card .text h6 {
    font-family: 'Prata', serif;
}

.card .text p {
    
    font-family: 'Philosopher', sans-serif;
    font-size: 16px; 
    color: #333; 
    
}



/*.text p {
    margin-top: 0;
}*/

@media (max-width: 768px) {
    .card-wrapper {
        flex-direction: column;
    }
    .card {
        flex-basis: 100%;
    }
}

